:root {
  --bg: #222831;
  --dark: #1a2027;
  --main: #e6e1da;
}

@font-face {
  font-family: 'Phantom Sans';
  src:
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src:
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src:
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--main);
  font-family: "Phantom Sans", sans-serif;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

#main,
#dark > div {
	opacity: 0;
	filter: blur(10px);
	transition: opacity 1.5s ease, filter 1.5s ease;
}

#main.visible,
#dark > div.visible {
	opacity: 1;
	filter: blur(0);
}

#flag {
  position: fixed;
  top: 1.25rem;
  left: 0;
  border: 0;
  width: 16rem;
  z-index: 999;
}

#main {
  display: flex;
  justify-content: center;
  margin-top: 14rem;
}

#hero {
  display: inline-block;
}

#title {
  margin: 0;
  font-size: clamp(5rem, 11vw, 13rem);
  text-align: left;
  line-height: 0.95;
}

#description {
  margin-top: 1rem;
  font-size: clamp(1.5rem, 2.8vw, 3rem);
  text-align: left;
}

#wave {
  margin-top: 8rem;
  filter: brightness(115%);

  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;

  z-index: -1;
}

#dark {
  background-color: var(--dark);
  margin-top: -10px;
  min-height: 31.25rem;

  flex: 1;
}

#get {
  margin-top: -1em;
  margin-left: 1.6em;
  font-size: clamp(3rem, 9vw, 6rem);
  text-align: left;
  margin-bottom: 0;
}

#det-disclaimer {
  margin-left: 5em;
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: left;
}

#polaroid-grid {
  margin-top: 3em;
  margin-left: 7em;
}

.polaroid-wrap {
  position: relative;
  display: inline-block;
  margin-right: 2em;
}

.polaroid {
  height: 500px;
  z-index: 10;
  margin-bottom: 5em;
  filter: brightness(95%) sepia(10%);
  display: block;
  user-select: none;
  -webkit-user-select: none;
}

.polaroid-img {
  position: absolute;
  width: 100%;
  z-index: 0;

  filter: brightness(95%) sepia(30%) saturate(130%);

  user-select: none;
  -webkit-user-select: none;
}

.polaroid-text {
  position: absolute;
  top: 71%;
  left: 52%;
  transform: translateX(-50%);
  width: 75%;

  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: left;
  font-family: "Courier New";
  font-weight: bold;
  color: var(--bg);
  filter: blur(0.4px);

  margin: 0;
  z-index: 11;
}

#faq-head {
  font-size: clamp(5rem, 6vw, 8rem);
  text-align: center;
  margin-bottom: 0;
}

#faq {
  display: flex;
  justify-content: center;
  align-items: center;
}